#playground {
    width: 640px;
    height: 480px;
    background: url(../images/map/sand.png);
}

#appstore {
    display: none;
}

ul.games {
    padding: 0;
    margin: 0;
}

ul.games li {
    width: 234px;
    float: left;
    height: 300px;
    overflow: hidden;
}

ul.games li p {
    overflow: auto;
    height: 75px;
}
.hidden {
    display: none;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(100, 100, 100, 0.5);
}

.window {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 468px;
    margin-left: -234px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#console-container {
    float: left;
    margin-left: 15px;
    width: 300px;
}

#map_editor_table {
    border-collapse: collapse;
}

.editor td {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.editor td.respawn, .editor .item-respawn {
    background: #35ff4c;
}

.editor td.wall, .editor .item-wall {
    background: rgba(145, 150, 157, 0.82);
}

.editor td.shotgun, .editor .item-shotgun {
    background: #ffcb9a;
}

.editor td.sniper, .editor .item-sniper {
    background: rgba(94, 53, 79, 0.79);
}

.editor td.assault, .editor .item-assault {
    background: rgba(234, 120, 71, 0.82);
}

.editor td.minigun, .editor .item-minigun {
    background: rgba(65, 29, 234, 0.82);
}

.editor td.flame, .editor .item-flame {
    background: rgba(234, 0, 19, 0.82);
}

.editor td.rocket, .editor .item-rocket {
    background: rgba(230, 234, 76, 0.82);
}

.editor td.medkit, .editor .item-medkit {
    background: rgba(106, 231, 234, 0.82);
}

.editor td.armor, .editor .item-armor {
    background: rgba(195, 234, 171, 1);
}

.editor td.helm, .editor .item-helm {
    background: rgb(234, 145, 145);
}

.editor .mounted {
    float: right;
    max-width: 200px;
}

.editor canvas {
    border: 1px solid black;
}

.control {
    float: right;
}

.mounted input[type="text"] {
    width: 36px;
    display: inline-block;
}

.mounted p {
    margin-bottom: 5px;
}

.mounted p input {
    margin-left: 5px;
}

#editor_console {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 100px;
    overflow-y: scroll;
    width: 98%;
    padding: 0;
    margin: 1%;
}

.weapon-holder {
    position: fixed;
    right: 0;
    top: 0;
}

.weapon-holder .weapon {
    width: 60px;
    height: 48px;
}
.weapon-holder:first-child {
    border: none;
}

.weapon-holder .ammoholder, .weapon-holder .now {
    width: 58px;
    height: 10px;
}
.weapon-holder .ammoholder {
    background: white;
}
.weapon-holder .now {
    background: red;
    border: 1px solid gray;
    font-size: 9px;
}

.weapon-holder .weapon.disable {
    background-color: gainsboro;
}
.weapon-holder .weapon.active {
    background-color: #c3eaab;
}
.life-and-armor {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
}
.life-and-armor .label {
    float: left;
    width: 60px;
}
.life-and-armor .life, .life-and-armor .armor{
    float: left;
    width: 30px;
    text-align: center;
}
.life-and-armor .life-25 {
    color: darkred;
}
.life-and-armor .life-50 {
    color: orange;
}
.life-and-armor .life-75 {
    color: forestgreen;
}
.life-and-armor .life-100 {
    color: cornflowerblue;
}
.playground .icon-keyboard {
    position: absolute;
    right: 100px;
    bottom: 10px;
    width: 18px;
    height: 18px;
    background: url(../images/gear.png) no-repeat;
}


.keyboard-setup, .game-stats{
    width: 400px;
    position: absolute;
    margin-left: -200px;
    left: 50%;
    background: white;
    border: 1px solid black;
    padding: 0 10px 10px;
    top: 30px;
}
.playground .score {
    position: fixed;
    right: 150px;
    bottom: 0;
    width: 80px;
}
.playground .chat {
    position: fixed;
    right: 0;
    bottom: 40px;
    min-width: 229px;
    background: rgba(0,0,0,0.3);
}
.playground .chat .message {
    color: rgb(53, 42, 191);
    text-shadow: white 1px 1px, white -1px -1px, white 1px -1px, white -1px 1px;
    font-weight: bold;
}
.playground .chat .writer {
    color: #0aff00;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px, black -1px 1px;
    font-weight: bold;
}

.playground .chat.expanded{
     width: 468px;
}
.playground .chat .console{
    height: 74px;
    overflow: auto;
}
.playground .chat textarea{
    width: 100%;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}


#application {
    margin-top: -85px;
}