body, html {
    font: 13.3333px Arial;
}
body.no-overflow {
    overflow: hidden;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#playground {
    width: 640px;
    height: 480px;
    background: url(../images/map/sand.png);
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.formfield-holder {
    margin-bottom: 15px;
}
#appstore {
    display: none;
}

ul.games {
    padding: 0;
    margin: 0;
}

ul.games li {
    height: 321px;
}
.map-list .maps li, ul.games li {
    width: 234px;
    float: left;
    overflow: auto;
    border: 1px solid #333;
    background: white;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px;
    list-style: none;
}
ul.games li p {
    overflow: auto;
    height: 75px;
}
.hidden {
    display: none;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(100, 100, 100, 0.5);
}

.window {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 468px;
    margin-left: -234px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#console-container {
    float: left;
    margin-left: 15px;
    width: 300px;
}

#map_editor_table {
    border-collapse: collapse;
}
.map-list .maps li{
    height: 255px;
}


.editor td {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.editor td.respawn, .editor .item{
    -webkit-background-size: 32px 32px;
    background-size: 100%;
    background: transparent no-repeat center;
    min-width: 32px;
}
.editor td.respawn, .editor .item.item-flag_red {
    background-image: url(../images/teams/flag_red.png);
}
.editor td.respawn, .editor .item.item-flag_blue {
    background-image: url(../images/teams/flag_blue.png);
}
.editor td.respawn, .editor .item.item-respawn_blue {
    background-color: rgba(54, 159, 236, 0.41);
}
.editor td.respawn, .editor .item.item-respawn_red {
    background-color: rgba(210, 63, 63, 0.41);;
}
.editor td.respawn, .editor .item.item-respawn {
    background: #35ff4c;
}

.editor td.wall, .editor .item-wall {
    background-image: url(../images/map/wall.png);
    background-size: auto;
}

.editor td.shotgun, .editor .item-shotgun {
    background-image: url(../images/map/shotgun.png);
}

.editor td.sniper, .editor .item-sniper {
    background-image: url(../images/map/sniper.png);
}

.editor td.assault, .editor .item-assault {
    background-image: url(../images/map/assault.png);
}

.editor td.minigun, .editor .item-minigun {
    background-image: url(../images/map/minigun.png);
}

.editor td.flame, .editor .item-flamethrower {
    background-image: url(../images/map/flame.png);
}

.editor td.rocket, .editor .item-rocket {
    background-image: url(../images/map/rocket.png);
}

.editor td.medkit, .editor .item-medkit {
    background-image: url(../images/map/medkit.png);
}

.editor td.armor, .editor .item-armor {
    background-image: url(../images/map/armor.png);
}

.editor td.helm, .editor .item-helm {
    background-image: url(../images/map/helm.png);
}

.editor .mounted-wrapper {
    width: 290px;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 600px;
    overflow: auto;
}
.room-list-chat .gray{
    color: gray;
}
.room-list-chat{
    right: 0;
    top: 0;
    width: 468px;
    height: 468px;
}
.room-list-chat .messages {
    height: 388px;
    overflow: auto;
}
.room-list-chat textarea {
    width: 100%;
    display: block;
    min-height: 46px;
    padding: 0;
    margin: 0;
}
.panel {
    border: 1px solid;
    padding: 10px;
    background: #D2C9E4;
}
.editor .zones{
    bottom: 0;
    width: 468px;
    max-height: 400px;
    overflow: auto;
}
.editor .main-control{
    bottom: 0;
    left: 489px;
}
.editor .map-editor-wrapper {
    max-width: 78%;
    margin-right: 2%;
}
#custom_tile_iframe {
    display: none;
}
.editor canvas {
    border: 1px solid black;
}

.control {
    float: right;
}

.mounted input[type="text"] {
    width: 36px;
    display: inline-block;
}

.mounted p {
    margin-bottom: 5px;
}

.mounted p input {
    margin-left: 5px;
}

#editor_console {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 100px;
    overflow-y: scroll;
    width: 98%;
    padding: 0;
    margin: 1%;
}

.weapon-holder {
    position: fixed;
    right: 0;
    top: 0;
    border-bottom-left-radius: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
    padding-left: 3px;
    border-left: 1px solid gray;
}
.weapon-holder.left {
    right: initial;
    left: 0;
    padding-left: 0;
    border-left: none;
    border-bottom-left-radius: 0;
    padding-right: 3px;
    border-right: 1px solid gray;
    border-bottom-right-radius: 3px;
 }

.weapon-holder .weapon {
    width: 60px;
    height: 59px;
}
.weapon-holder:first-child {
    border: none;
}

.weapon-holder .ammoholder, .weapon-holder .now {
    width: 58px;
    height: 10px;
}
.weapon-holder .ammoholder {
    background: white;
}
.weapon-holder .now {
    background: red;
    border: 1px solid gray;
    font-size: 9px;
}

.weapon-holder .weapon.disable {
    position: relative;
}
.weapon-holder .weapon.disable:after {
    display: block;
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.weapon-holder .weapon img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 32px;
}
.weapon-holder .weapon.active {
    background-color: #c3eaab;
}
.life-and-armor {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
    background: white;
    padding: 3px 0 0 5px;
    border-top-left-radius: 5px;
}
.life-and-armor .label {
    float: left;
    width: 60px;
}
.life-and-armor .life, .life-and-armor .armor{
    float: left;
    width: 30px;
    text-align: center;
}
.life-and-armor .life-25 {
    color: darkred;
}
.life-and-armor .life-50 {
    color: orange;
}
.life-and-armor .life-75 {
    color: forestgreen;
}
.life-and-armor .life-100 {
    color: cornflowerblue;
}
.playground .icon-keyboard {
    position: fixed;
    right: 100px;
    bottom: 2px;
    width: 32px;
    height: 32px;
    background: url(../images/gear.png) no-repeat;
}


.keyboard-setup, .game-stats{
    width: 468px;
    position: fixed;
    margin-left: -200px;
    left: 50%;
    background: white;
    border: 1px solid black;
    padding: 0 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 30px;
}
.keyboard-setup {
    height: 80%;
    overflow: auto;
}
.chat-controls .form-control label{
    min-width: 20%;
    width: 20%;
}
.chat-controls .form-control input{
    width: 30%;
}
.playground .score {
    position: fixed;
    right: 138px;
    bottom: 0;
    width: 80px;
    background: white;
    padding: 3px 3px 0 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.playground .chat {
    position: fixed;
    left: 66px;
    top: 0;
    width: 468px;
}

.playground .chat, .playground .chat * {

    -moz-user-select: initial;
    -khtml-user-select: initial;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
.playground .chat .system {
    color: red;
}
.playground .chat .message {
    color: rgb(53, 42, 191);
    text-shadow: white 1px 1px, white -1px -1px, white 1px -1px, white -1px 1px;
    font-weight: bold;
}
.playground .chat .writer {
    color: #0aff00;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px, black -1px 1px;
    font-weight: bold;
}

.playground .chat.expanded{
     width: 468px;
}
.playground .chat .console{
    height: 74px;
    overflow: auto;
}
.playground .chat textarea{
    width: 100%;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}
.form-control{
    margin-bottom: 10px;
}
.form-control > label{
    display: inline-block;
    min-width: 128px;
}

.tab-name {
    display: inline-block;
    padding: 10px;
}

a.tab-name.active {
    background: #C3CFF1;
}
.score-overview {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 19px;
}
.score-overview .red-team{
    color: red;
    font-weight: bold;
}
.score-overview .blue-team{
    color: cornflowerblue;
    font-weight: bold;
}
.score-overview td, .score-overview th{
    padding: 3px 10px;
    text-align: center;
}
.score-overview .owner{
    color: cadetblue;
}
.team-control {
    position: fixed;
    top: -15px;
    padding-top: 15px;
    left: 50%;
    background: #FF8888;
    border: 1px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: none;
    width: 120px;
    margin-left: -60px;
}
input, textarea{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[button], input[submit], button {
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.editor .coordinates {
    height: 40px;
}
.editor .coordinates label {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.editor .coordinates > * {
    float: left;
}
.editor p.controls .angle{
    display: inline-block;
}
.hint {
    background: white;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 10px;
    float: left;
    clear: left;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
     clear: both;
}